*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.t{
  height: 60px;
  color:#fff;
  background-color: rosybrown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}