a{
  background-color: white;
}
.HTML1 {
  background-color: goldenrod;
}
.CSS1{
  background-color: dodgerblue;
}
.JAVASCRIPT{
  background-color: goldenrod;
}
h1{
  color: white;
  background-color: black;
}